<div class="jumbotron">
    <h1>Make It Smaller</h1>
    <p class="lead">Where you can reduce the size of those large web links down to a more manageable size!</p>
</div>


<div class="row">
    <div class="col-md-10">
        <h2>Getting started</h2>
        <p>
            Tired of your links always being too long. Well now you can shorten them with MakeItSmaller (MIS).
        </p>
        <p>
            To get started, click the link below, add in your link, and we'll create you a new one.
        </p>
        @Html.ActionLink("Lets Get Started", "MakeItSmaller")
    </div>
</div>
